<h1>Welcome to ASP.NET Authentication</h1>
<form action="/Home/Register">
    <input type="submit" value="Register" />
</form>
<form action="/Home/SendEmail">
    <input type="submit" value="Send code by email" />
</form>
<form action="/Home/Login">
    <input type="submit" value="Login" />
</form>
<form action="/Home/Secret">
    <input type="submit" value="Secret" />
</form>
<form action="/Home/Logout">
    <input type="submit" value="Logout" />
</form>
