<h1>Code Verification</h1>
<form action="/Home/Login" method="post">
    <input type="text" name="email" value="">
    <input type="text" name="code" value="">
    <button type="submit">Login</button>
</form>
